extends index

block main
    #banner.container
        .row
            .col-lg-10
                .page-header
                    if(fullName)
                        h1 #{fullName}' destinations
                    else
                        h1 Destinations
        .row
            each destination in destinations
                .col-lg-4.col-md-5
                    .panel.panel-primary.text-center
                        - var url = destination.id;
                            if(fullName)
                                .panel-heading
                                    h3.panel-title
                                        a(href="user/destinations/" + url) #{destination.title}
                                .panel-image
                                    img(src=`${destination.imagePath}` class="destination-image transperant")
                            else
                                .panel-heading
                                    h3.panel-title
                                        a(href="/destinations/" + url) #{destination.title}
                                .panel-image
                                    img(src=`${destination.imagePath}` class="destination-image")
